{{- if .nginx.enable_status -}}
server {
  listen 127.0.0.1:9001 default;
  listen {{ .pod.ip }}:9001 ;

  server_name {{ .pod.ip }};

  location /nginx_status {
    stub_status on;
    access_log   off;
  }
}
{{- end -}}
