nodenum=3

[node1]
groupid=1
ip=0.0.0.0
port=9632
listenmode=https
datadir=/root/ossdata
errlogdir=/root/osserrlog
chunknum=2

[node2]
groupid=1
ip=0.0.0.0
port=9633
listenmode=https
datadir=/root/ossdata
errlogdir=/root/osserrlog
chunknum=2

[node3]
groupid=1
ip=0.0.0.0
port=9634
listenmode=https
datadir=/root/ossdata
errlogdir=/root/osserrlog
chunknum=2