runmode = dev

listenmode = http
httpscertfile = cert/containerops/containerops.crt
httpskeyfile = cert/containerops/containerops.key

[log]
filepath = /dev/console

[db]
driver = redis
uri = 192.168.0.7:6379
db = 0

[dockyard]
path = /data
domains = 0.0.0.0
registry = 0.9
distribution = registry/2.0
standalone = true
backend = oss

ossswitch = enable

[oss]
apiport= 80
apihttpsport=443
partsizemb = 4

