[mysqld]
innodb_log_file_size = {{ .mysql.innodb.innodb_log_file_size }}
innodb_buffer_pool_size = {{ .mysql.innodb.innodb_buffer_pool_size }}
innodb_log_buffer_size = {{ .mysql.innodb.innodb_log_buffer_size }}
innodb_file_per_table = 1
innodb_open_files = {{ .mysql.innodb.innodb_open_files }}
innodb_io_capacity = {{ .mysql.innodb.innodb_io_capacity }}
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = {{ .mysql.innodb.innodb_flush_log_at_trx_commit }}
innodb_autoinc_lock_mode = {{ .mysql.innodb.innodb_autoinc_lock_mode }}
innodb_buffer_pool_instances = {{ .mysql.innodb.innodb_buffer_pool_instances }}
innodb_write_io_threads = {{ .mysql.innodb.innodb_write_io_threads }}
innodb_max_dirty_pages_pct = {{ .mysql.innodb.innodb_max_dirty_pages_pct }}
innodb_file_format = barracuda
innodb_thread_concurrency = {{ .mysql.innodb.innodb_thread_concurrency }}
innodb_stats_on_metadata = 0
innodb_log_files_in_group = {{ .mysql.innodb.innodb_log_files_in_group }}
innodb_data_file_path = {{ .mysql.innodb.innodb_data_file_path }}
