[mysqld]
server-id = {{ .mysql.replication.server_id }}
{{ if .mysql.replication.log_bin }}
log_bin = /var/log/mysql/mariadb-bin
binlog_format = ROW
log_bin_index = /var/log/mysql/mariadb-bin.index
expire_logs_days = {{ .mysql.replication.expire_logs_days }}
max_binlog_size = 100M
log_slave_updates = {{ .mysql.replication.log_slave_updates }}
{{ end }}

# Replication Filters
{{ if .mysql.replication.replicate_wild_do_table }}
{{ range $_, $value := .mysql.replication.replicate_wild_do_table }}
replicate_wild_do_table={{ $value }}
{{ end }}
{{ end }}
{{ if .mysql.replication.replicate_rewrite_db }}
replicate-rewrite-db={{ .mysql.replication.replicate_rewrite_db.from }}->{{ .mysql.replication.replicate_rewrite_db.to }}
{{ end }}