{
    "listening_address": "{{.pod.ip}}:{{.prometheus.exporter.nginx.port}}",
    "metrics_endpoint": "{{.prometheus.exporter.nginx.metrics_path}}",
    "nginx_scrape_uri": "{{.prometheus.exporter.nginx.url}}",
    "insecure": {{.prometheus.exporter.nginx.insecure}}
}
